@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header4-3 H1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}
#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 1em;
  color: #c5eeff;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-8 .navbar-toggler {
  color: #c5eeff;
}
#msg-box4-9 .mbr-header__text {
  color: #efefef;
  text-align: right;
  font-size: 36px;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box4-9 .mbr-article P {
  text-align: right;
  font-size: 20px;
  color: #ffffff;
}
#msg-box4-9 .btn {
  font-size: 15px;
}
#dropdown-menu-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-a .nav .link,
#dropdown-menu-a .dropdown-item {
  font-size: 1em;
  color: #c5eeff;
}
#dropdown-menu-a .navbar,
#dropdown-menu-a .dropdown-menu {
  background: #333333;
}
#dropdown-menu-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-a .dropdown-menu a:hover,
#dropdown-menu-a .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-a .navbar-toggler {
  color: #c5eeff;
}
#msg-box4-i .mbr-header__text {
  color: #ffffff;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
}
#msg-box4-j .mbr-header__text {
  color: #ffffff;
}
#msg-box4-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-j .mbr-article {
  color: #ffffff;
}
#msg-box4-l .mbr-header__text {
  color: #ffffff;
}
#msg-box4-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-l .mbr-article {
  color: #ffffff;
}
#dropdown-menu-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-b .nav .link,
#dropdown-menu-b .dropdown-item {
  font-size: 1em;
  color: #c5eeff;
}
#dropdown-menu-b .navbar,
#dropdown-menu-b .dropdown-menu {
  background: #333333;
}
#dropdown-menu-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-b .dropdown-menu a:hover,
#dropdown-menu-b .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-b .navbar-toggler {
  color: #c5eeff;
}
#dropdown-menu-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-c .nav .link,
#dropdown-menu-c .dropdown-item {
  font-size: 1em;
  color: #c5eeff;
}
#dropdown-menu-c .navbar,
#dropdown-menu-c .dropdown-menu {
  background: #333333;
}
#dropdown-menu-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-c .dropdown-menu a:hover,
#dropdown-menu-c .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-c .navbar-toggler {
  color: #c5eeff;
}
#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1em;
  color: #c5eeff;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-m .navbar-toggler {
  color: #c5eeff;
}
#dropdown-menu-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-q .nav .link,
#dropdown-menu-q .dropdown-item {
  font-size: 1em;
  color: #c5eeff;
}
#dropdown-menu-q .navbar,
#dropdown-menu-q .dropdown-menu {
  background: #333333;
}
#dropdown-menu-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-q .dropdown-menu a:hover,
#dropdown-menu-q .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-q .navbar-toggler {
  color: #c5eeff;
}
#msg-box4-r .mbr-header__text {
  color: #ffffff;
  text-align: right;
  font-size: 36px;
}
#msg-box4-r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-r .mbr-article {
  color: #ffffff;
}
#msg-box4-r .mbr-article P {
  text-align: right;
  font-size: 20px;
  color: #ffffff;
}
#msg-box4-r .btn {
  font-size: 15px;
}
